body {
    font-family: lato;
    text-align: justify;
    color: black;
}

a {
    color: black;
}

.sub_sentence {
    margin-left: 1em;
}

.spacing {
    margin-bottom: 10em;
}

.container {
    margin-bottom: 10em !important;
}

.banner {
    margin-top: 3em;
    margin-bottom: 5em;
}

.originsimg {
    margin-top: 5em;
    margin-bottom: 2em;
}

.event {
    margin-top: 5em;
    margin-bottom: 5em;
}

.event-btn {
    margin-top: 1em;
    margin-bottom: 1em;
}